### Day Objectives
#### Practice on Income Dataset
##### Define functions for the following data points
- Average Income of all states from 2005 to 2013
- State with highest average income in the last three years
- State with lowest average income from 2007 to 2010(inclusive)
- Print the list of all states in the same line with average income less than California
- Print the names of states based on descending order of income in the year 2009
- State with the lowest recorded income from 2005 to 2013

In [3]:
filepath='DataFiles/Income.csv'
import pandas as pd
def readCSVdata(filepath):
    return pd.read_csv(filepath)

readCSVdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [4]:
incomedf=readCSVdata(filepath)
#def accessdatafromcolumn(df,column):
#incomedf.values()
def accessdataframerow(df,key):
    sum=0
    count=0
    for row in df.values:
        if key in row:
            for item in range(2,len(row)):
                count+=1
                sum=sum+row[item]
                
            #print('\n')
    return sum/count
accessdataframerow(incomedf,'Alaska')

60106.555555555555

In [5]:
incomedf=readCSVdata(filepath)
def avgofeachcolumn(df,columnindex):
    #print(rowindex)
    sum=0
    for row in incomedf.values:
        print(row[columnindex])
        sum+=row[columnindex]
    return sum/len(incomedf.values)
avgofeachcolumn(incomedf,2)

37150
55891
45245
36658
51755

45339.8

In [7]:
def avgofallyears(df,lb,ub):
    c=0
    add=0
    for columnindex in range(lb,ub+1):
        c=c+1
        add=add+avgofeachcolumn(df,columnindex)
        #print(add)
        #print(c)
    return add/c
#avgofallyears(incomedf,2,10)

In [46]:
li=[37150,37952,42212,44476,39980,40933,42590,43464,41381,55891,56418,62993,63989,61604,57848,57431,63648,61137,45245,46657,62993,46914,45739,46896,48621,47044,50602,36658,37057,40795,39586,36538,38587,41302,39018,39919,51755,55319,55734,57014,56134,54283,53367,57020,57528]
print(sum(li)/45)

48876.044444444444

In [11]:
def avgofstateingivenrange(df,rowkey,lb,ub):
    count=0
    sum=0
    for row in df.values:
        if rowkey in row:
            for item in range(lb,ub+1):
                count=count+1
                #print(count)
                sum=sum+row[item]
                #print(sum)
    return sum/count

avgofstateingivenrange(incomedf,'Alaska',8,10)

60738.666666666664

In [24]:
def maxavgincomeingivenrange(df,columnindex,lb,ub):
    #for rowkey in range(firstrow,lastrow+1):
    li={}
    for column in incomedf.values:
        rowkey=str(column[columnindex])
        #print(type(rowkey)) 
        li[rowkey]=(avgofstateingivenrange(df,rowkey,lb,ub))
    for item in li.items():
        if item[1]==max(li.values()):
            print(item[0])
maxavgincomeingivenrange(incomedf,1,8,10)

Alaska